.contact-body{
 margin:auto;
 position: fixed; 
 margin:auto;
 height: 100%;
 width:100%;
 justify-content: center;
 padding-top:2em;
}
@media(max-width:450px){
    .contact-body{
        
        position: static;
       }
       
       .contacts-list .list-items i{
        padding:0;
        font-size: 40px;
        margin:auto;
        
     }
}
.contact-grid{
    color:black;
    background: white;
    width:80%;
    justify-content: center;
    align-items: center;
    height: 550px;;
    text-align: center;
  
    
}
.contact-grid h2{
    font-family: 'Allan',sans-serif,cursive;
}
.contact-grid p{
    font-family: 'Oxygen', sans-serif,cursive;
    font-weight: bold;
}
.contact-message{
    margin:auto;
    padding-top:1em;
    width:75%;

}
.contact-grid hr{
    border-top:5px dotted black;
}
.contacts-list i{
   padding-right: 1em;
   font-size: 66px;
   margin:auto;
}
.list-items{
    font-size:25px;
    font-family:'Allan';
}
