.profile-right-col{
    background:rgb(25, 43, 48);
    border:1px solid red;
    color:white;
    padding:2em;
    
}
.job-description{
    font-size: 25px;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}
.bio-grid p{
   font-size:20px;
   font-weight: lighter;
 }
 .contact-section p{
     font-size: 20px;
 }
 h1 ,h2{
     color:red;
 }
 h5{
     color:rgb(231, 90, 8);
 }